
h2 a{
    text-decoration: none;
    color:white;
}

.car{
    box-sizing: border-box;
    color:white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.place{
    color:#89253e;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

#continue{
    width: 100%;
 background: white;
    color:#89253e;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;

    margin-left:5px;
}
#flee{
    display: flex;
    justify-content: center;
}
#continue:hover{
    transform:scale(1.03);
}