#naslov3{
    color: white;
    text-align: center;
}
.wrap2{
    width: 80%;
    margin:0 auto;
}
.jumbotron{
    padding: 130px 15px 15px 0;
}
#s3{
    padding: 20px;
}
.info-more {
    text-decoration: none;
    color: #89253e;
}
.container{
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button{
    display: inline;
}
 .container a, .container p{
    width: 100%;
    text-decoration: none;
}
a{
    color: white;
}
.kolicina{
    display: inline-block;
}