
body{
    margin: 0;
    padding:0;
     font-family: 'Roboto', sans-serif;
    background-size: cover;
    background: #C04848;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 35px;
    font-weight:bold;
    text-align: center;
    color:white;
    font-family: 'Lobster', cursive;
    margin-bottom: 40px;
}
::-webkit-scrollbar {
    display: none;
}
.Login {
    width: 50%;
    margin:0 auto;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    text-align: center;
}
footer{
    margin-top: 20px;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 20px;
    bottom: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
.login h2{
    font-size: 40px;
    border-bottom:7px solid whitesmoke;
    margin-bottom:50px;
    padding:13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:8px 0;
    border-bottom: 1px solid whitesmoke ;
}

.textbox input{
    border: none;
    outline:none;
    background: none;
    font-size:18px;
    width:100%;
    float: left;
    margin:10px;
    color:white;
}
::placeholder{
    color: rgba(255,255,255,0.6);
    letter-spacing: 2px;
}
#date1 input{
    width: 80%;
}
.butt{
    width: 90%;
    background: none;
    border:2px solid white;
    color:white;
    padding: 5px;
    font-size: 18px;
    cursor:pointer;
    margin:45px auto;
    border-radius: 10px;
    font-weight: bold;
}
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: rgba(255,255,255,0.6);
    letter-spacing: 2px;
    margin-right: 0.5em;
}
.butt:hover{
    color:#89253e;
    background: white;
}
.erroneus{
    color:red;
    width:100%;
}



@media (max-width: 660px) {
    .Login{
        width: 80%;
        margin:0 auto;
        color: white;
    }
}