body{
    margin: 0;
    padding:0;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
}
#helping{
    padding-bottom: 100px;
}
header{
    color:white;
    padding: 10px 0;
}
#fix{
    position: fixed;
    width: 100%;
    z-index: 5;
}
#naslov{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin: 0;
}
.cont{
    padding-top: 100px;
}
#s8 div{
    width:100%;
    padding: 15px;
    background: white;
    margin:10px;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 30px;
}
#s8 img{
    width: 100%;
}
#s8{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    flex-wrap: wrap;
}
#s8 h3{
    text-align: center;
    border-bottom: 1px solid #89253e;
}
#d1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#d2{
    display: none;
}

.nav1{
    margin-left: 30px;
}
.wrap{
    width: 80%;
    margin:0 auto;
}
footer div{
    width: 50%;
}
header a{
    text-decoration: none;
    color:white;
}
.marg a{
  margin-left: 30px;
}
header nav a{

    padding:9px;
    border-radius:10px;
    font-weight: bold;
    font-size: 1.05rem;

}
.logout{
    display: none;
}
header nav a:hover{
    background-color: white;
    color:#89253e;
    font-weight: bold;
    transition: ease-in 0.3s;
}
header nav a:hover i{
    background-color: white;
    color:#89253e;
    font-weight: bold;
    transition: ease-in 0.3s;
}

.scrolled {
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89253e, #3a6186); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89253e, #3a6186);
    transition: ease-in 0.3s;
    border-bottom: solid 2px white;
}
.scrolled header nav a,.scrolled header div a{
    color:white;
    opacity: 100%;
}
.scrolled .dropdown a{
    color:#89253e;
}
.scrolled header nav a:hover,.scrolled header div a:hover{
    color:#89253e;

}
#hamburger2{
    display: none;
}

#hamburger{
    font-size: 1.05rem;
    color: white;
}

footer{
    margin-top: 20px;
    color: white;
    padding: 8px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.medias a{
    color:white;
    padding:5px;
    text-decoration: none;
    float:right;
}
html{
    scroll-behavior: smooth;
}
#s1{
    padding: 20px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#s1 div{
    width: 48%;
}
#s1 h1{
    color:white;
    font-weight: bold;
    font-size: 50px;
}
#nestat{
    animation: cssAnimation 3s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    80% {opacity: 1;}
    100% {display:none;
        opacity: 0;
    }
}
#s1 p{
    color:white;
    font-weight: bold;
    font-size: 25px;
}
#s1 img{
    width: 350px;
}

#s2{
    display: flex;
    justify-content: center;
}
.container2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container2 p{
    width: 100%;
}
.container a{
    text-decoration: none;
    color: #89253e;
}
#s2 button{
    border-radius:20px;
    padding: 10px 30px;
    background: transparent;
    border: solid 2px white;
    color:white;
    font-weight: bold;
    margin: 90px;
    font-size:1.5rem;
}

#s2 button:hover{
    background: white;
    color:#89253e;
    transition: ease-in 0.3s;
}

#s3 div.container{
    width: 18%;
    background: rgba(255,255,255,1);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
#s3{
    display: flex;
    justify-content: center;
    margin-top:20px;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 20px;
}
input[type=number]{
    margin-top: 10px;
    width: 93%;
    color:white;
    background-color: #89253e;
    border-radius: 10px;
}
input[type=submit]{
    margin-top: 10px;
    width: 100%;
    color:white;
    background-color: #89253e;
    border-radius: 10px;
    margin-bottom: 5px;
}
.up{
    width:98%;
    background: white;
    color:red;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}
#helping{
    padding-bottom: 100px;
}
#s3 div img{
    width: 100%;
    box-sizing: border-box;
    border-radius:10px;
}
#ss{
    width:100%;
    text-align: center;
    color: white;

}
#s3 button{
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89253e, #3a6186);
    border-radius: 10px;
    padding:5px 10px;
    color:white;
    border:solid 1px white;
    margin-bottom: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#s3 button:hover{
    color:#89253e;
    background: white ;
    border:solid 1px #89253e;
}

#s4 div{
    width:30%;
    padding: 15px;
    background: white;
    margin:10px;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 30px;
}

#s4{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}
#s4 h3{
    text-align: center;
    border-bottom: 1px solid #89253e;
}
.fa-bars:before {
    content: "\f0c9";
    font-size: 1.7rem;
}


@media (max-width: 930px) {
    #slika{
        display: none;
    }
    #s1 div{
        width: 100%;
    }
    .wrap{
        width: 90%;
    }
    #s3 div.container{
        width: 30%;
    }
    .container{
        flex-wrap: wrap;
    }
    .container div{
        width: 100%;
        order: 1;
    }
    #slika2{
        order: 2;
    }

}

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    position: relative;
}

header ul .has-drop:hover>div{
    display: block;
}

.dropdown{
    margin-top: 5px;
    position: absolute;
    left: -100px;
    top: 100%;
    width: 150px;
    background: white;
    color:#89253e;
    display: none;
    border-radius: 10px;
}
.dropdown a{
    margin: 0 0 10px;
    display: block;
    color:#89253e;
}
.dropdown a:hover{
    background: rgba(58,97,134,0.5);
    color:#89253e;
}
@media (max-width: 720px) {
    ul{
        padding-left: 0;
    }
   .logout{
        display: inline-block;
    }
   .logout2{
       display: none;
   }
    #s3 div.container{
        width: 40%;
        padding: 5px;
        margin: 5px;
    }
    #s4 div{
        width: 100%;
    }
    #s4{
        flex-wrap: wrap;
    }
    .wrap{
        width: 95%;
    }
    #hamburger2{
        display: inline-block;

    }
    #hamburger{
        display: inline-block;
        font-size: 30px;
    }
    .notactive{
        display: none;
    }
    .menu-item a,.menu-item ul{
        display: block;
        width: 90%;
        text-align: center;
        margin: 20px auto;
        color: #89253e;
        box-sizing: border-box;
    }

    .dropdown{
        display: none;
    }

    .menu-item{
        background-color: white;
        position: absolute;
        width:100%;
        left: 0px;
        top: 100%;
        margin: 0 auto;
        color: #89253e;
        border: 2px solid #89253e;

    }
    header ul .has-drop:hover>div{
        display: none;
    }
    .menu-item:nth-of-type(2){
        display: none;
    }
    #h1{
        padding: 20px;
    }
    .scrolled #hamburger{
        color: white;
    }
    .scrolled #hamburger2{
        color: white;
    }
    .scrolled header div a #naslov {
        color: white;
    }
    .scrolled header nav a {
        color: #89253e;
    }


}