body{
    margin: 0;
    padding:0;
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    background: #C04848;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header{
    color:white;
    padding: 10px 0;
}
#fix{
    position: fixed;
    width: 100%;
}
#naslov{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin: 0;
}

#d1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#d2{
    display: none;
}
::-webkit-scrollbar {
    display: none;
}
.wrap{
    width: 80%;
    margin:0 auto;
}
header a{
    text-decoration: none;
    color:white;
}

header nav a{
    margin-left: 30px;
    padding:9px;
    border-radius:10px;
    font-weight: bold;
    font-size: 1.05rem;

}

header nav a:hover{
    background-color: white;
    color:#89253e;
    font-weight: bold;
    transition: ease-in 0.3s;
}
.scrolled {
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89253e, #3a6186); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89253e, #3a6186);
    transition: ease-in 0.3s;
    border-bottom: solid 2px white;
}
.scrolled header nav a,.scrolled header div a{
    color:white;
    opacity: 100%;
}
.scrolled .dropdown a{
    color:#89253e;
}
.scrolled header nav a:hover,.scrolled header div a:hover{
    color:#89253e;

}
#hamburger{
    display: none;
}
footer{
    margin-top: 20px;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
#s1{
    padding: 130px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#s1 div{
    width: 48%;
}
#s1 h1{
    color:white;
    font-weight: bold;
    font-size: 50px;
}
#s1 p{
    color:white;
    font-weight: bold;
    font-size: 25px;
}
#s1 img{
    width: 350px;
}

#s2{
    display: flex;
    justify-content: center;
}

#s2 button{
    border-radius:20px;
    padding: 10px 30px;
    background: transparent;
    border: solid 2px white;
    color:white;
    font-weight: bold;
    margin: 90px;
    font-size:1.5rem;
}

#s2 button:hover{
    background: white;
    color:#89253e;
    transition: ease-in 0.3s;
}

#s3 div{
    width: 30%;
    background: rgba(255,255,255,1);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
#s3{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}
#s3 div img{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius:10px;
}
#s3 div:hover{
    transform: scale(1.07);
}
#ss{
    width:100%;
    text-align: center;
    color: white;

}
#s3 button{
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89253e, #3a6186);
    border-radius: 10px;
    padding:5px 10px;
    color:white;
    border:solid 1px white;
    margin-bottom: 10px;
}

#s3 button:hover{
    color:#89253e;
    background: white ;
    border:solid 1px #89253e;
}

#s4 div{
    width:30%;
    padding: 15px;
    background: white;
    margin:10px;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 30px;
}

#s4{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}
#s4 h3{
    text-align: center;
    border-bottom: 1px solid #89253e;
}


@media (max-width: 930px) {
    #slika{
        display: none;
    }
    #s1 div{
        width: 100%;
    }
    .wrap{
        width: 90%;
    }
    #s3 div{
        width: 30%;
    }
}

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    position: relative;
}

header ul .has-drop:hover>div{
    display: block;
}

.dropdown{
    margin-top: 5px;
    position: absolute;
    left: -20px;
    top: 100%;
    width: 220px;
    background: white;
    color:#89253e;
    display: none;
    border-radius: 10px;
}
.dropdown a{
    margin: 0 0 10px;
    display: block;
    color:#89253e;
}
.dropdown a:hover{
    background: rgba(58,97,134,0.5);
    color:#89253e;
}
@media (max-width: 720px) {
    ul{
        padding-left: 0;
    }
    #s3 div{
        width: 43%;
    }
    #s4 div{
        width: 100%;
    }
    #s4{
        flex-wrap: wrap;
    }
    .wrap{
        width: 95%;
    }
    #hamburger{
        display: inline-block;
        font-size: 30px;
    }
    .notactive{
        display: none;
    }
    .menu-item a,.menu-item ul{
        display: block;
        width: 90%;
        text-align: center;
        margin: 10px 10px;
        color: #89253e;
        box-sizing: border-box;
    }

    .dropdown{
        display: none;
    }

    .menu-item{
        background-color: white;
        position: absolute;
        width:100%;
        left: 0px;
        top: 100%;
        margin: 0 auto;
        color: #89253e;
        border-top: 2px solid #89253e;
        border-right:2px solid #89253e ;
        border-left: 2px solid #89253e;
    }
    header ul .has-drop:hover>div{
        display: none;
    }
    .menu-item:nth-of-type(2){
        top: 259%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 2px solid #89253e;
        border-right:2px solid #89253e ;
        border-left: 2px solid #89253e;
        border-top: none;
    }
    #h1{
        padding: 20px;
    }
    .scrolled #hamburger{
        color: white;
    }
    .scrolled header div a #naslov {
        color: white;
    }
    .scrolled header nav a {
        color: #89253e;
    }


}